Jaime Theme
<div class="header header__mobile--visibility" id="header">
  <ul class="header__nav">
    <button aria-controls="MobileNav" aria-expanded="false" aria-label="Menú" class="header__menu-button"><img src="{{section.settings.menu_icon | img_url: 'small'}}"></button>
    <span class="header__menu">Menu</span>
    <li class="header__logo"><img src="{{section.settings.image_logo | img_url: '100x'}}"></li>
    <li>LIL PEEP</li>
    <li class="header__cart-counter">0</li>
    <li class="header__cart-icon">
      {{section.settings.cart_icon | img_url: '100x' | img_tag}}
    </li>
  </ul>
</div>

<div class="header-desktop header__desktop--visibility" id="header__desktop">

  <div class="header-desktop__container">
    <a class="header-desktop__container__logo"><img src="{{section.settings.image_logo | img_url: '30x'}}"></a>
    <span class="header-desktop__container__title">LIL PEEP</span>
  </div>

  <div class="header-desktop__top-menu">
    <form action="/search" class="search" style="display: inline; margin-right: 53px;">
      <input class=" header-desktop__top-menu__input" type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"/>
      <button class="header-desktop__top-menu__input__btn" type="submit">
        <svg class="header-desktop__top-menu__input__icon" id="Capa_1" style="enable-background:new 0 0 512.005 512.005;" version="1.1" viewbox="0 0 512.005 512.005" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
          <path d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667
                                                                                                              			S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6
                                                                                                              			c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z
                                                                                                              			 M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z"/>
        </svg>
      </button>
    </form>
    <a class="links--top" href="#Login">Log In</a>
    <a class="links--top" href="#SignUp">Sign Up</a>
  </div>

  <nav class="site-nav" role="navigation">
    {% for link in linklists.main-menu.links %}
      <a class="site-nav__links" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </nav>
  <div class="header-desktop__cart">
    <span class="header-desktop__cart__counter">Cart
      {{ cart.item_count }}</span>
    <a class="header-desktop__cart-icon">
      {{section.settings.cart_icon | img_url: '20x' | img_tag}}
    </a>
  </div>
</div>

<nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
  <ul class="mobile-nav" id="MobileNav">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign outerLoopIndex = forloop.index -%}

      <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
        {% if link.links != blank %}
          {% capture child_list_handle %}
            {{ link.handle }}-{{ outerLoopIndex }}
          {% endcapture %}
          <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
            <span class="mobile-nav__label">{{ link.title | escape }}</span>
            <div class="mobile-nav__icon">
              {% include 'icon-chevron-right' %}
            </div>
          </button>
          <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
            <li class="visually-hidden" data-menu-title="2" tabindex="-1">
              {{- link.title }}
              {{ 'layout.navigation.menu' | t -}}
            </li>
            <li class="mobile-nav__item border-bottom">
              <div class="mobile-nav__table">
                <div class="mobile-nav__table-cell mobile-nav__return">
                  <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                    {% include 'icon-chevron-left' %}
                  </button>
                </div>
                <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                  <span class="mobile-nav__label">{{ link.title | escape }}</span>
                </span>
              </div>
            </li>

            {% for childlink in link.links %}
              <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                {% if childlink.links != blank %}
                  {% capture grandchild_list_handle %}
                    {{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}
                  {% endcapture %}
                  <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                    <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                    <div class="mobile-nav__icon">
                      {% include 'icon-chevron-right' %}
                    </div>
                  </button>
                  <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                    <li class="visually-hidden" data-menu-title="3" tabindex="-1">
                      {{- childlink.title }}
                      {{ 'layout.navigation.menu' | t -}}
                    </li>
                    <li class="mobile-nav__item border-bottom">
                      <div class="mobile-nav__table">
                        <div class="mobile-nav__table-cell mobile-nav__return">
                          <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                            {% include 'icon-chevron-left' %}
                          </button>
                        </div>
                        <a href="{{ childlink.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header" {% if childlink.current %} aria-current="page" {% endif %}>
                          <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                        </a>
                      </div>
                    </li>
                    {% for grandchildlink in childlink.links %}
                      <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                        <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link" {% if grandchildlink.current %} aria-current="page" {% endif %}>
                          <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link" {% if childlink.current %} aria-current="page" {% endif %}>
                    <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <a href="{{ link.url }}" class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}" {% if link.current %} aria-current="page" {% endif %}>
            <span class="mobile-nav__label">{{ link.title | escape }}</span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>


{% schema %}

{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "Image logo"
    }, {
      "type": "image_picker",
      "id": "cart_icon",
      "label": "Cart icon"
    }, {
      "type": "image_picker",
      "id": "menu_icon",
      "label": "Menu icon"
    }
  ]
}

{% endschema %}
